.table {
  text-align: left;

  thead {
    background-color: #7EB26D;
    color: black;
    th {
      padding: 16px;
    }
  }

  tbody {
    background-color: #c8e3c0;
    color: black;
    td {
      padding: 16px;
    }
  }
}
